@import url('https://fonts.googleapis.com/css2?family=Ancizar+serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&dispaly=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserrat", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url('mi-fondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    width: 420px;
    background: transparent;
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper{
    font-size:  36px;
    text-align: center;
}